.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-n1 {
  margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}

.m-n2 {
  margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}

.m-n3 {
  margin: -1rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important;
}

.m-n4 {
  margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}

.m-n5 {
  margin: -3rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 768px) {
  .m-sm-0 {
    margin: 0 !important;
  }

  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important;
  }

  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important;
  }

  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important;
  }

  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important;
  }

  .m-sm-1 {
    margin: 0.25rem !important;
  }

  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important;
  }

  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important;
  }

  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important;
  }

  .m-sm-2 {
    margin: 0.5rem !important;
  }

  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }

  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important;
  }

  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important;
  }

  .m-sm-3 {
    margin: 1rem !important;
  }

  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important;
  }

  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important;
  }

  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important;
  }

  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important;
  }

  .m-sm-4 {
    margin: 1.5rem !important;
  }

  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important;
  }

  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important;
  }

  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important;
  }

  .m-sm-5 {
    margin: 3rem !important;
  }

  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important;
  }

  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important;
  }

  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important;
  }

  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important;
  }

  .p-sm-0 {
    padding: 0 !important;
  }

  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important;
  }

  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important;
  }

  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important;
  }

  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important;
  }

  .p-sm-1 {
    padding: 0.25rem !important;
  }

  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important;
  }

  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important;
  }

  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important;
  }

  .p-sm-2 {
    padding: 0.5rem !important;
  }

  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important;
  }

  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important;
  }

  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important;
  }

  .p-sm-3 {
    padding: 1rem !important;
  }

  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important;
  }

  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important;
  }

  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important;
  }

  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important;
  }

  .p-sm-4 {
    padding: 1.5rem !important;
  }

  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important;
  }

  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important;
  }

  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important;
  }

  .p-sm-5 {
    padding: 3rem !important;
  }

  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important;
  }

  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important;
  }

  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important;
  }

  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important;
  }

  .m-sm-n1 {
    margin: -0.25rem !important;
  }

  .mt-sm-n1,
  .my-sm-n1 {
    margin-top: -0.25rem !important;
  }

  .mr-sm-n1,
  .mx-sm-n1 {
    margin-right: -0.25rem !important;
  }

  .mb-sm-n1,
  .my-sm-n1 {
    margin-bottom: -0.25rem !important;
  }

  .ml-sm-n1,
  .mx-sm-n1 {
    margin-left: -0.25rem !important;
  }

  .m-sm-n2 {
    margin: -0.5rem !important;
  }

  .mt-sm-n2,
  .my-sm-n2 {
    margin-top: -0.5rem !important;
  }

  .mr-sm-n2,
  .mx-sm-n2 {
    margin-right: -0.5rem !important;
  }

  .mb-sm-n2,
  .my-sm-n2 {
    margin-bottom: -0.5rem !important;
  }

  .ml-sm-n2,
  .mx-sm-n2 {
    margin-left: -0.5rem !important;
  }

  .m-sm-n3 {
    margin: -1rem !important;
  }

  .mt-sm-n3,
  .my-sm-n3 {
    margin-top: -1rem !important;
  }

  .mr-sm-n3,
  .mx-sm-n3 {
    margin-right: -1rem !important;
  }

  .mb-sm-n3,
  .my-sm-n3 {
    margin-bottom: -1rem !important;
  }

  .ml-sm-n3,
  .mx-sm-n3 {
    margin-left: -1rem !important;
  }

  .m-sm-n4 {
    margin: -1.5rem !important;
  }

  .mt-sm-n4,
  .my-sm-n4 {
    margin-top: -1.5rem !important;
  }

  .mr-sm-n4,
  .mx-sm-n4 {
    margin-right: -1.5rem !important;
  }

  .mb-sm-n4,
  .my-sm-n4 {
    margin-bottom: -1.5rem !important;
  }

  .ml-sm-n4,
  .mx-sm-n4 {
    margin-left: -1.5rem !important;
  }

  .m-sm-n5 {
    margin: -3rem !important;
  }

  .mt-sm-n5,
  .my-sm-n5 {
    margin-top: -3rem !important;
  }

  .mr-sm-n5,
  .mx-sm-n5 {
    margin-right: -3rem !important;
  }

  .mb-sm-n5,
  .my-sm-n5 {
    margin-bottom: -3rem !important;
  }

  .ml-sm-n5,
  .mx-sm-n5 {
    margin-left: -3rem !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important;
  }

  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important;
  }

  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important;
  }

  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 992px) {
  .m-md-0 {
    margin: 0 !important;
  }

  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important;
  }

  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important;
  }

  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }

  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important;
  }

  .m-md-1 {
    margin: 0.25rem !important;
  }

  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important;
  }

  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important;
  }

  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important;
  }

  .m-md-2 {
    margin: 0.5rem !important;
  }

  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important;
  }

  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important;
  }

  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important;
  }

  .m-md-3 {
    margin: 1rem !important;
  }

  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important;
  }

  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important;
  }

  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important;
  }

  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important;
  }

  .m-md-4 {
    margin: 1.5rem !important;
  }

  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important;
  }

  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important;
  }

  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important;
  }

  .m-md-5 {
    margin: 3rem !important;
  }

  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }

  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important;
  }

  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important;
  }

  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important;
  }

  .p-md-0 {
    padding: 0 !important;
  }

  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }

  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important;
  }

  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important;
  }

  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }

  .p-md-1 {
    padding: 0.25rem !important;
  }

  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important;
  }

  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important;
  }

  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important;
  }

  .p-md-2 {
    padding: 0.5rem !important;
  }

  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important;
  }

  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important;
  }

  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important;
  }

  .p-md-3 {
    padding: 1rem !important;
  }

  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important;
  }

  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important;
  }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
  }

  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important;
  }

  .p-md-4 {
    padding: 1.5rem !important;
  }

  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important;
  }

  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important;
  }

  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important;
  }

  .p-md-5 {
    padding: 3rem !important;
  }

  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important;
  }

  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important;
  }

  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }

  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important;
  }

  .m-md-n1 {
    margin: -0.25rem !important;
  }

  .mt-md-n1,
  .my-md-n1 {
    margin-top: -0.25rem !important;
  }

  .mr-md-n1,
  .mx-md-n1 {
    margin-right: -0.25rem !important;
  }

  .mb-md-n1,
  .my-md-n1 {
    margin-bottom: -0.25rem !important;
  }

  .ml-md-n1,
  .mx-md-n1 {
    margin-left: -0.25rem !important;
  }

  .m-md-n2 {
    margin: -0.5rem !important;
  }

  .mt-md-n2,
  .my-md-n2 {
    margin-top: -0.5rem !important;
  }

  .mr-md-n2,
  .mx-md-n2 {
    margin-right: -0.5rem !important;
  }

  .mb-md-n2,
  .my-md-n2 {
    margin-bottom: -0.5rem !important;
  }

  .ml-md-n2,
  .mx-md-n2 {
    margin-left: -0.5rem !important;
  }

  .m-md-n3 {
    margin: -1rem !important;
  }

  .mt-md-n3,
  .my-md-n3 {
    margin-top: -1rem !important;
  }

  .mr-md-n3,
  .mx-md-n3 {
    margin-right: -1rem !important;
  }

  .mb-md-n3,
  .my-md-n3 {
    margin-bottom: -1rem !important;
  }

  .ml-md-n3,
  .mx-md-n3 {
    margin-left: -1rem !important;
  }

  .m-md-n4 {
    margin: -1.5rem !important;
  }

  .mt-md-n4,
  .my-md-n4 {
    margin-top: -1.5rem !important;
  }

  .mr-md-n4,
  .mx-md-n4 {
    margin-right: -1.5rem !important;
  }

  .mb-md-n4,
  .my-md-n4 {
    margin-bottom: -1.5rem !important;
  }

  .ml-md-n4,
  .mx-md-n4 {
    margin-left: -1.5rem !important;
  }

  .m-md-n5 {
    margin: -3rem !important;
  }

  .mt-md-n5,
  .my-md-n5 {
    margin-top: -3rem !important;
  }

  .mr-md-n5,
  .mx-md-n5 {
    margin-right: -3rem !important;
  }

  .mb-md-n5,
  .my-md-n5 {
    margin-bottom: -3rem !important;
  }

  .ml-md-n5,
  .mx-md-n5 {
    margin-left: -3rem !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }

  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }

  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .m-lg-0 {
    margin: 0 !important;
  }

  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }

  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important;
  }

  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }

  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important;
  }

  .m-lg-1 {
    margin: 0.25rem !important;
  }

  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important;
  }

  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important;
  }

  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important;
  }

  .m-lg-2 {
    margin: 0.5rem !important;
  }

  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important;
  }

  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important;
  }

  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important;
  }

  .m-lg-3 {
    margin: 1rem !important;
  }

  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important;
  }

  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important;
  }

  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important;
  }

  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important;
  }

  .m-lg-4 {
    margin: 1.5rem !important;
  }

  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important;
  }

  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }

  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important;
  }

  .m-lg-5 {
    margin: 3rem !important;
  }

  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important;
  }

  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important;
  }

  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }

  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important;
  }

  .p-lg-0 {
    padding: 0 !important;
  }

  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important;
  }

  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important;
  }

  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }

  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important;
  }

  .p-lg-1 {
    padding: 0.25rem !important;
  }

  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important;
  }

  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important;
  }

  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important;
  }

  .p-lg-2 {
    padding: 0.5rem !important;
  }

  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }

  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important;
  }

  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important;
  }

  .p-lg-3 {
    padding: 1rem !important;
  }

  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important;
  }

  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important;
  }

  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important;
  }

  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important;
  }

  .p-lg-4 {
    padding: 1.5rem !important;
  }

  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important;
  }

  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important;
  }

  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important;
  }

  .p-lg-5 {
    padding: 3rem !important;
  }

  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important;
  }

  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }

  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
  }

  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }

  .m-lg-n1 {
    margin: -0.25rem !important;
  }

  .mt-lg-n1,
  .my-lg-n1 {
    margin-top: -0.25rem !important;
  }

  .mr-lg-n1,
  .mx-lg-n1 {
    margin-right: -0.25rem !important;
  }

  .mb-lg-n1,
  .my-lg-n1 {
    margin-bottom: -0.25rem !important;
  }

  .ml-lg-n1,
  .mx-lg-n1 {
    margin-left: -0.25rem !important;
  }

  .m-lg-n2 {
    margin: -0.5rem !important;
  }

  .mt-lg-n2,
  .my-lg-n2 {
    margin-top: -0.5rem !important;
  }

  .mr-lg-n2,
  .mx-lg-n2 {
    margin-right: -0.5rem !important;
  }

  .mb-lg-n2,
  .my-lg-n2 {
    margin-bottom: -0.5rem !important;
  }

  .ml-lg-n2,
  .mx-lg-n2 {
    margin-left: -0.5rem !important;
  }

  .m-lg-n3 {
    margin: -1rem !important;
  }

  .mt-lg-n3,
  .my-lg-n3 {
    margin-top: -1rem !important;
  }

  .mr-lg-n3,
  .mx-lg-n3 {
    margin-right: -1rem !important;
  }

  .mb-lg-n3,
  .my-lg-n3 {
    margin-bottom: -1rem !important;
  }

  .ml-lg-n3,
  .mx-lg-n3 {
    margin-left: -1rem !important;
  }

  .m-lg-n4 {
    margin: -1.5rem !important;
  }

  .mt-lg-n4,
  .my-lg-n4 {
    margin-top: -1.5rem !important;
  }

  .mr-lg-n4,
  .mx-lg-n4 {
    margin-right: -1.5rem !important;
  }

  .mb-lg-n4,
  .my-lg-n4 {
    margin-bottom: -1.5rem !important;
  }

  .ml-lg-n4,
  .mx-lg-n4 {
    margin-left: -1.5rem !important;
  }

  .m-lg-n5 {
    margin: -3rem !important;
  }

  .mt-lg-n5,
  .my-lg-n5 {
    margin-top: -3rem !important;
  }

  .mr-lg-n5,
  .mx-lg-n5 {
    margin-right: -3rem !important;
  }

  .mb-lg-n5,
  .my-lg-n5 {
    margin-bottom: -3rem !important;
  }

  .ml-lg-n5,
  .mx-lg-n5 {
    margin-left: -3rem !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important;
  }

  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important;
  }

  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important;
  }

  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.bg-black {
  background-color: #000 !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-black {
  color: #333 !important;
}

.text-white {
  color: #fff !important;
}

/**
 * Page
 */

body {
  background-color: #e9ebee;
}

.btn-back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  border: 1px solid #ccc;
}

.nav.nav-tabs.border-bottom-nav > li > a,
.nav.nav-tabs.border-bottom-nav > li > a:focus,
.nav.nav-tabs.border-bottom-nav > li > a:hover {
  background-color: transparent;
  border: none;
  border-bottom: 5px solid transparent;
}

/**
 * Navbar Top
 */

/*!
 *   AdminLTE v2.4.5
 *   Author: Almsaeed Studio
 *   Website: Almsaeed Studio <https://adminlte.io>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
 */

/* Fixed layout */

.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}

@media (max-width: 767px) {
  .main-header {
    position: relative;
  }
}

.main-header.fixed {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.main-header .navbar-brand {
  color: #fff;
}

.main-header .logo {
  display: block;
  height: 50px;
  width: 230px;
  padding: 0 15px;
  overflow: hidden;
  float: left;
  font-size: 20px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 50px;
  transition: width 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .main-header .logo {
    width: 100%;
    float: none;
  }
}

.main-header .logo .logo-lg {
  display: block;
}

.main-header .logo .logo-lg img {
  max-width: 200px;
  padding-bottom: 3px;
}

@media (max-width: 767px) {
  .main-header .logo .logo-lg img {
    max-width: 200px;
    padding-bottom: 3px;
  }
}

.main-header .logo .logo-mini {
  display: none;
}

.main-header .navbar {
  min-height: 50px;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  margin-left: 230px;
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .main-header .navbar {
    width: 100%;
    float: none;
    margin: 0;
  }
}

.main-header .navbar .nav > li.user > a > .fa,
.main-header .navbar .nav > li.user > a > .glyphicon,
.main-header .navbar .nav > li.user > a > .ion {
  margin-right: 5px;
}

.main-header .navbar .nav > li > a > .label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: 0.9;
}

@media (max-width: 767px) {
  .main-header .navbar-left {
    float: left;
  }
}

.main-header .navbar-left a {
  color: inherit;
  background: transparent;
}

@media (max-width: 991px) {
  .main-header .navbar-left a {
    color: inherit;
    background: transparent;
  }
}

@media (max-width: 991px) {
  .main-header .navbar-left .navbar-nav {
    margin: 0;
    float: left;
  }

  .main-header .navbar-left .navbar-nav > li {
    float: left;
  }

  .main-header .navbar-left .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
}

.main-header .navbar-right {
  float: right;
}

@media (max-width: 767px) {
  .main-header .navbar-right {
    float: none;
  }
}

.main-header .navbar-right a {
  color: inherit;
  background: transparent;
}

@media (max-width: 991px) {
  .main-header .navbar-right a {
    color: inherit;
    background: transparent;
  }
}

@media (max-width: 767px) {
  .main-header .navbar-right > li {
    color: inherit;
    border: 0;
  }
}

.main-header .navbar-custom-menu {
  float: right;
}

@media (max-width: 767px) {
  .main-header .navbar-custom-menu {
    float: right;
  }
}

.main-header .navbar-custom-menu a {
  color: inherit;
  background: transparent;
}

@media (max-width: 991px) {
  .main-header .navbar-custom-menu a {
    color: inherit;
    background: transparent;
  }
}

@media (max-width: 991px) {
  .main-header .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: left;
  }

  .main-header .navbar-custom-menu .navbar-nav > li {
    float: left;
  }

  .main-header .navbar-custom-menu .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
}

/*
 * Component: Dropdown menus
 * -------------------------
 */

/*Dropdowns in general*/

.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
}

.dropdown-menu > li > a {
  color: #777;
}

.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}

.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}

.dropdown-menu > .divider {
  background-color: #eee;
}

.navbar-nav .open .dropdown-menu {
  width: 280px;
}

.navbar-nav .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}

.navbar-nav .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}

.navbar-nav .dropdown-menu > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}

@media (max-width: 991px) {
  .navbar-nav .dropdown-menu > li.footer > a {
    background: #fff !important;
    color: #444 !important;
  }
}

.navbar-nav .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}

.navbar-nav .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.navbar-nav .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}

.navbar-nav .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}

.navbar-nav .menu-list-icon > .dropdown-menu > li {
  position: relative;
}

.navbar-nav .menu-list-icon > .dropdown-menu > li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.navbar-nav .menu-list-icon > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav .menu-list-icon > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav .menu-list-icon > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}

.navbar-nav .menu-list-message > .dropdown-menu > li .menu > li > a {
  margin: 0;
  padding: 10px 10px;
}

.navbar-nav .menu-list-message > .dropdown-menu > li .menu > li > a:before,
.navbar-nav .menu-list-message > .dropdown-menu > li .menu > li > a:after {
  content: " ";
  display: table;
}

.navbar-nav .menu-list-message > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}

.navbar-nav .menu-list-message > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}

.navbar-nav .menu-list-message > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-nav .menu-list-message > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}

.navbar-nav .menu-list-message > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}

.navbar-nav .menu-search.open > .dropdown-menu {
  width: 75vw;
}

@media (max-width: 991px) {
  .navbar-nav .menu-search.open > .dropdown-menu {
    width: 90%;
  }
}

.navbar-nav .user-menu > a {
  height: 50px;
}

.navbar-nav .user-menu > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navbar-nav .user-menu > .dropdown-menu > .user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.navbar-nav .user-menu > .dropdown-menu > .user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav .user-menu > .dropdown-menu > .user-header > p {
  z-index: 5;
  /*color: #fff;*/
  color: rgba(255, 255, 255, 0.8);
  /*color: #333;*/
  font-size: 17px;
  margin-top: 10px;
}

.navbar-nav .user-menu > .dropdown-menu > .user-header > p > small {
  display: block;
  font-size: 12px;
}

.navbar-nav .user-menu > .dropdown-menu > .user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navbar-nav .user-menu > .dropdown-menu > .user-body:before,
.navbar-nav .user-menu > .dropdown-menu > .user-body:after {
  content: " ";
  display: table;
}

.navbar-nav .user-menu > .dropdown-menu > .user-body:after {
  clear: both;
}

.navbar-nav .user-menu > .dropdown-menu > .user-body a {
  color: #444 !important;
}

@media (max-width: 991px) {
  .navbar-nav .user-menu > .dropdown-menu > .user-body a {
    background: #fff !important;
    color: #444 !important;
  }
}

.navbar-nav .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}

.navbar-nav .user-menu > .dropdown-menu > .user-footer:before,
.navbar-nav .user-menu > .dropdown-menu > .user-footer:after {
  content: " ";
  display: table;
}

.navbar-nav .user-menu > .dropdown-menu > .user-footer:after {
  clear: both;
}

.navbar-nav .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666;
}

@media (max-width: 991px) {
  .navbar-nav .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
    background-color: #f9f9f9;
  }
}

.navbar-nav .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 0;
  margin-top: -2px;
}

@media (max-width: 767px) {
  .navbar-nav .user-menu .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}

/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/

.open:not(.dropup) > .animated-dropdown-menu {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation: flipInX 0.7s both;
  animation: flipInX 0.7s both;
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
  }
}

/* Fix dropdown menu in navbars */

.navbar-left > .navbar-nav > li {
  position: relative;
}

@media (max-width: 991px) {
  .navbar-left > .navbar-nav > li {
    position: static;
  }
}

.navbar-left > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  left: 0;
  right: auto;
}

@media (max-width: 991px) {
  .navbar-left > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    left: 5%;
    right: auto;
    border: 1px solid #ddd;
    background: #fff;
  }
}

@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav {
    float: right;
  }
}

.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}

@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav > li {
    position: static;
  }
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
  }
}

@media (max-width: 360px) {
  .main-header .navbar .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-content {
  margin-top: 70px;
}

@media (max-width: 767px) {
  .page-content {
    margin-top: 120px;
  }
}

/**
 * Box
 */

.box {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.box .box-content {
  position: relative;
  padding: 15px;
  border-radius: 4px;
  z-index: 13 !important;
}

.box .box-content::before {
  display: table;
  content: " ";
}

.box .box-content::after {
  display: table;
  content: " ";
  clear: both;
}

.box .box-content.no-padding {
  padding: 0;
}

.box .box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
}

.box .box-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.box .box-bg img {
  width: 100%;
  vertical-align: middle;
  display: block;
  margin: auto;
  position: absolute;
}

/**
 * Chat
 */

.chat .chat-item {
  border-radius: 16px;
  max-width: 40%;
}

@media (max-width: 767px) {
  .chat .chat-item {
    max-width: 70%;
  }
}

@media (max-width: 360px) {
  .chat .chat-item {
    max-width: 80%;
  }
}

.chat .chat-item .bg-chat-default {
  background-color: #e5e5ea;
}

.chat .chat-item.left {
  margin-right: auto;
}

.chat .chat-item.right {
  margin-left: auto;
}

.chat .chat-item .chat-item-text {
  display: block;
}

.chat .chat-item .chat-item-img {
  border-radius: 16px;
  width: 100%;
}

.chat .chat-item .chat-item-time {
  display: block;
  font-size: 10px;
  font-style: italic;
  float: right;
}

.category-container .category-info-container .category-image {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.category-container .subcategory-container .subcategory-container-title {
  margin-top: 0;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .category-container .subcategory-container .subcategory-container-title {
    margin-top: 16px;
  }
}

/**
 * Icon Box
 */

.icon-box {
  text-align: center;
}

.icon-box .icon-box-link,
.icon-box .icon-box-link:hover {
  text-decoration: none;
}

.icon-box .icon-box-icon-container .icon-box-icon {
  display: block;
  margin: 0 auto 8px;
}

.icon-box .icon-box-icon-container .icon-box-image {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  background-color: #fff;
  margin-bottom: 8px;
  max-height: 100px;
}

.icon-box .icon-box-icon-container .icon-box-image.circle {
  border-radius: 50%;
}

.icon-box .icon-box-icon-container .icon-box-image.thumbnail {
  border: 1px solid #ddd;
}

.icon-box .icon-box-content .icon-box-title {
  overflow: hidden;
  line-height: 20px;
  display: block;
}

.icon-box .icon-box-content .icon-box-title.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: 20px;
}

.icon-box .icon-box-content .icon-box-title.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: 40px;
}

/**
 * Auth Form
 */

.auth-form .auth-form-header {
  margin: 0px 0px 16px;
}

.auth-form .auth-form-links {
  margin: 16px 0 0;
}

.auth-form .auth-form-links a {
  color: #ccc;
  font-size: 12px;
}

/**
 * Products Grid
 */

.products.products-grid .product {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

.products.products-grid .product .product__label {
  position: absolute;
  z-index: 3;
  padding: 0px 10px;
  top: 5px;
  background-color: #e6e6e6;
}

.products.products-grid .product .product__label.left {
  left: 20px;
  max-width: 40%;
}

.products.products-grid .product .product__label.right {
  right: 20px;
  max-width: 40%;
}

.products.products-grid .product .product__image-wrapper {
  background-color: #eee;
  display: block;
  min-height: 100px;
  margin-bottom: 8px;
  position: relative;
  display: block;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .products.products-grid .product .product__image-wrapper {
    height: 252px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .products.products-grid .product .product__image-wrapper {
    height: 202px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .products.products-grid .product .product__image-wrapper {
    height: 210px;
  }
}

@media (min-width: 656px) and (max-width: 767px) {
  .products.products-grid .product .product__image-wrapper {
    height: 328px;
  }
}

@media (min-width: 544px) and (max-width: 655px) {
  .products.products-grid .product .product__image-wrapper {
    height: 272px;
  }
}

@media (min-width: 432px) and (max-width: 543px) {
  .products.products-grid .product .product__image-wrapper {
    height: 216px;
  }
}

@media (max-width: 431px) {
  .products.products-grid .product .product__image-wrapper {
    height: 160px;
  }
}

.products.products-grid .product .product__image-wrapper .product__image {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}

.products.products-grid .product .product__name {
  overflow: hidden;
  display: block;
  height: 40px;
  line-height: 20px;
}

.products.products-grid .product .product__price {
  overflow: hidden;
  display: flex;
  height: 20px;
  line-height: 20px;
  margin: 4px 0;
}

.products.products-grid .product .product__price .product__original-price {
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 1 auto;
  color: #aaa;
  text-decoration: line-through;
  margin-right: 5px;
  font-size: 10px;
}

.products.products-grid .product .product__price .product__current-price {
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: bolder;
  background-color: #fff;
}

.products.products-grid .product .product__rating .br-wrapper {
  display: inline-block;
}

.products.products-grid .product .product__rating .br-wrapper .br-widget {
  height: 16px;
}

.products.products-grid .product .product__rating .br-wrapper .br-widget a {
  font-size: 10px;
}

.products.products-grid .product .product__rating span {
  font-size: 10px;
}

.products.products-grid .product .product__store {
  margin: 4px 0;
}

.products.products-grid .product .product__store .product__store__name,
.products.products-grid .product .product__store .product__store__location {
  overflow: hidden;
  display: block;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
}

.products.products-grid .product .product__store .product__store__location .fa {
  color: #a94442;
}

/**
 * Product Single
 */

.product-single .product {
  margin-bottom: 16px;
}

.product-single .product .product__image-wrapper {
  background-color: #eee;
  display: block;
  min-height: 100px;
  margin-bottom: 8px;
  position: relative;
  display: block;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .product-single .product .product__image-wrapper {
    height: 360px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product-single .product .product__image-wrapper {
    height: 296px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-single .product .product__image-wrapper {
    height: 216px;
  }
}

@media (min-width: 656px) and (max-width: 767px) {
  .product-single .product .product__image-wrapper {
    height: 580px;
  }
}

@media (min-width: 544px) and (max-width: 655px) {
  .product-single .product .product__image-wrapper {
    height: 480px;
  }
}

@media (min-width: 432px) and (max-width: 543px) {
  .product-single .product .product__image-wrapper {
    height: 360px;
  }
}

@media (max-width: 431px) {
  .product-single .product .product__image-wrapper {
    height: 260px;
  }
}

.product-single .product .product__image-wrapper .product__image {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}

.product-single .product .product__name {
  overflow: hidden;
  display: block;
  line-height: 27px;
  height: 54px;
}

.product-single .product h3.product__name {
  margin-top: 0px;
}

.product-single .product .product__price {
  overflow: hidden;
  display: flex;
  height: 24px;
  line-height: 24px;
  margin: 4px 0;
}

.product-single .product .product__price .product__current-price {
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: bolder;
  font-size: 20px;
  background-color: #fff;
}

.product-single .product .product__price .product__original-price {
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 1 auto;
  color: #aaa;
  text-decoration: line-through;
  margin-right: 5px;
  padding-right: 8px;
}

.product-single .product .product__rating {
  margin-bottom: 16px;
}

.product-single .product .product__rating .br-wrapper {
  display: inline-block;
}

.product-single .product .product__rating .br-wrapper .br-widget {
  height: 16px;
}

.product-single .product .product__rating .br-wrapper .br-widget a {
  font-size: 14px;
}

@media (min-width: 768px) {
  .product-single .product .product__add-to-cart-container {
    width: 50%;
  }
}

.product-single .product .product__store .product__store__img {
  width: 60px;
  height: 60px;
}

.product-single .product .product__store .media-body {
  padding-bottom: 8px;
}

.product-single .product .product__store .product__store__name,
.product-single .product .product__store .product__store__location {
  overflow: hidden;
  display: block;
  height: 20px;
  line-height: 20px;
}

.product-single .product .product__store .product__store__location .fa {
  color: #a94442;
}

.product-single .product .product-attribute-name {
  width: 125px;
}

@media (max-width: 767px) {
  .product-single .product .product-attribute-name {
    width: 35%;
    min-width: 125px;
  }
}

/**
 * Sidenav Overlay
 */

/* The side navigation menu */

.sidenav {
  position: fixed;
  top: 0;
  z-index: 1040;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.sidenav-overlay--left {
  left: 0;
}

.sidenav-overlay--right {
  right: 0;
}

.sidenav-overlay {
  height: 100%;
  overflow: hidden;
}

.sidenav-overlay-toolbar {
  height: 50px;
  width: 100%;
  background-color: rgba(166, 174, 186, 0.8);
  padding: 10px;
}

.sidenav-overlay-close {
  position: absolute;
  top: 14px;
  right: 15px;
  border-radius: 50%;
}

.sidenav-overlay-container {
  width: 100%;
  height: calc(100% - 45px);
  overflow: auto;
  padding: 16px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.store-info .store__image {
  height: 100px;
  width: 100px;
}

.store-info .store__location {
  font-size: 10px;
}

.store-info .store__location .fa {
  color: #a94442;
}

.store__collections.store__collections--list {
  margin-bottom: 0px;
}

.store__collections.store__collections--list .list-group-item img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

