/*
 * Skin: Black
 * -----------
 */

/* skin-black navbar */

.navbar-black-light.main-header {
  border-bottom: 1px solid #d2d6de;
}

.navbar-black-light.main-header .navbar-toggle {
  color: #333;
}

.navbar-black-light.main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #d2d6de;
}

.navbar-black-light.main-header .navbar {
  background-color: #ffffff;
}

.navbar-black-light.main-header .navbar .nav > li > a {
  color: #333333;
}

.navbar-black-light.main-header .navbar .nav > li > a:hover,
.navbar-black-light.main-header .navbar .nav > li > a:active,
.navbar-black-light.main-header .navbar .nav > li > a:focus,
.navbar-black-light.main-header .navbar .nav .open > a,
.navbar-black-light.main-header .navbar .nav .open > a:hover,
.navbar-black-light.main-header .navbar .nav .open > a:focus,
.navbar-black-light.main-header .navbar .nav > .active > a {
  background: #ffffff;
  color: #999999;
}

.navbar-black-light.main-header .navbar .sidebar-toggle {
  color: #333333;
}

.navbar-black-light.main-header .navbar .sidebar-toggle:hover {
  color: #999999;
  background: #ffffff;
}

.navbar-black-light.main-header .navbar > .sidebar-toggle {
  color: #333;
  border-right: 1px solid transparent;
}

.navbar-black-light.main-header .navbar .navbar-nav > li > a {
  border-right: 1px solid transparent;
}

.navbar-black-light.main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.navbar-black-light.main-header .navbar .navbar-right > li > a {
  border-left: 1px solid transparent;
  border-right-width: 0;
}

.navbar-black-light.main-header > .logo {
  background-color: #ffffff;
  color: #333333;
  border-bottom: 0 solid transparent;
  border-right: 1px solid transparent;
}

.navbar-black-light.main-header > .logo:hover {
  background-color: #fcfcfc;
}

@media (max-width: 767px) {
  .navbar-black-light.main-header > .logo {
    background-color: #ffffff;
    color: #333333;
    border-bottom: 0 solid transparent;
    border-right: none;
  }

  .navbar-black-light.main-header > .logo:hover {
    background-color: #fcfcfc;
  }
}

.navbar-black-light.main-header li.user-header {
  background-color: #7e7e7e;
}

.navbar-black-light .content-header {
  background: transparent;
  box-shadow: none;
}

.navbar-black-light .wrapper,
.navbar-black-light .main-sidebar,
.navbar-black-light .left-side {
  background-color: #f9fafc;
}

.navbar-black-light .main-sidebar {
  border-right: 1px solid #d2d6de;
}

.navbar-black-light .user-panel > .info,
.navbar-black-light .user-panel > .info > a {
  color: #444444;
}

.navbar-black-light .sidebar-menu > li {
  transition: border-left-color 0.3s ease;
}

.navbar-black-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}

.navbar-black-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}

.navbar-black-light .sidebar-menu > li:hover > a,
.navbar-black-light .sidebar-menu > li.active > a {
  color: #000000;
  background: #f4f4f5;
}

.navbar-black-light .sidebar-menu > li.active {
  border-left-color: #ffffff;
}

.navbar-black-light .sidebar-menu > li.active > a {
  font-weight: 600;
}

.navbar-black-light .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}

.navbar-black-light .sidebar a {
  color: #444444;
}

.navbar-black-light .sidebar a:hover {
  text-decoration: none;
}

.navbar-black-light .sidebar-menu .treeview-menu > li > a {
  color: #777777;
}

.navbar-black-light .sidebar-menu .treeview-menu > li.active > a,
.navbar-black-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #000000;
}

.navbar-black-light .sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
}

.navbar-black-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}

.navbar-black-light .sidebar-form input[type=text],
.navbar-black-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}

.navbar-black-light .sidebar-form input[type=text] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}

.navbar-black-light .sidebar-form input[type=text]:focus,
.navbar-black-light .sidebar-form input[type=text]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}

.navbar-black-light .sidebar-form input[type=text]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}

.navbar-black-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

@media (min-width: 768px) {
  .navbar-black-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}

.skin-blue .products.products-grid .product .product__label,
.skin-blue .chat .chat-item .bg-chat-skin,
.skin-blue .auth-form .btn-auth,
.skin-blue .btn-skin {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.skin-blue .btn-skin:hover {
  color: #fff;
  background-color: #3bb4d8;
  border-color: #2aaad0;
}

.skin-blue .sidenav-overlay .sidenav-overlay-toolbar,
.skin-blue .main-header li.user-header {
  background: #5bc0de;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #bde6f2), color-stop(25%, #a7dded), color-stop(50%, #92d5e9), color-stop(75%, #7dcde5), color-stop(100%, #68c5e1));
  background: linear-gradient(to bottom, #bde6f2 0%, #a7dded 25%, #92d5e9 50%, #7dcde5 75%, #68c5e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="lighten($skin-blue-bg, 23%)", endColorstr="lighten($skin-blue-bg, 3%)", GradientType=0 );
}

.skin-blue {
  /**
   * GENERAL
   */
  /**
   * AUTH
   */
  /**
   * CHAT
   */
  /**
   * NAVBAR USER
   */
  /**
   * NAV TABS
   */
  /**
   * PRODUCTS
   */
  /**
   * SIDENAV OVERLAY
   */
}

.skin-blue .bg-skin {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.skin-blue .text-skin {
  color: #5bc0de;
}

.skin-blue .border-skin {
  border-color: #46b8da;
}

.skin-blue .nav.nav-tabs.border-bottom-nav > li.active > a,
.skin-blue .nav.nav-tabs.border-bottom-nav > li.active > a:focus,
.skin-blue .nav.nav-tabs.border-bottom-nav > li.active > a:hover {
  border-bottom-color: #46b8da;
}

.skin-blue .products.products-grid .product .product__price .product__current-price {
  color: #5bc0de;
}

.skin-blue .product-single .product .product__price .product__current-price {
  color: #5bc0de;
}

.skin-blue .sidenav-overlay .sidenav-overlay-toolbar {
  opacity: 0.7;
}

.skin-green .products.products-grid .product .product__label,
.skin-green .chat .chat-item .bg-chat-skin,
.skin-green .auth-form .btn-auth,
.skin-green .btn-skin {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.skin-green .btn-skin:hover {
  color: #fff;
  background-color: #48a648;
  border-color: #409340;
}

.skin-green .sidenav-overlay .sidenav-overlay-toolbar,
.skin-green .main-header li.user-header {
  background: #5cb85c;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #aedcae), color-stop(25%, #9cd49c), color-stop(50%, #8acc8a), color-stop(75%, #78c478), color-stop(100%, #67bd67));
  background: linear-gradient(to bottom, #aedcae 0%, #9cd49c 25%, #8acc8a 50%, #78c478 75%, #67bd67 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="lighten($skin-green-bg, 23%)", endColorstr="lighten($skin-green-bg, 3%)", GradientType=0 );
}

.skin-green {
  /**
   * GENERAL
   */
  /**
   * AUTH
   */
  /**
   * CHAT
   */
  /**
   * NAVBAR USER
   */
  /**
   * NAV TABS
   */
  /**
   * PRODUCTS
   */
  /**
   * SIDENAV OVERLAY
   */
}

.skin-green .bg-skin {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.skin-green .text-skin {
  color: #5cb85c;
}

.skin-green .border-skin {
  border-color: #4cae4c;
}

.skin-green .nav.nav-tabs.border-bottom-nav > li.active > a,
.skin-green .nav.nav-tabs.border-bottom-nav > li.active > a:focus,
.skin-green .nav.nav-tabs.border-bottom-nav > li.active > a:hover {
  border-bottom-color: #4cae4c;
}

.skin-green .products.products-grid .product .product__price .product__current-price {
  color: #5cb85c;
}

.skin-green .product-single .product .product__price .product__current-price {
  color: #5cb85c;
}

.skin-green .sidenav-overlay .sidenav-overlay-toolbar {
  opacity: 0.7;
}

.skin-yellow .products.products-grid .product .product__label,
.skin-yellow .chat .chat-item .bg-chat-skin,
.skin-yellow .auth-form .btn-auth,
.skin-yellow .btn-skin {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.skin-yellow .btn-skin:hover {
  color: #fff;
  background-color: #ed9d2b;
  border-color: #ea9114;
}

.skin-yellow .sidenav-overlay .sidenav-overlay-toolbar,
.skin-yellow .main-header li.user-header {
  background: #f0ad4e;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f9dfba), color-stop(25%, #f7d4a3), color-stop(50%, #f5c98b), color-stop(75%, #f3be74), color-stop(100%, #f1b45c));
  background: linear-gradient(to bottom, #f9dfba 0%, #f7d4a3 25%, #f5c98b 50%, #f3be74 75%, #f1b45c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="lighten($skin-yellow-bg, 23%)", endColorstr="lighten($skin-yellow-bg, 3%)", GradientType=0 );
}

.skin-yellow {
  /**
   * GENERAL
   */
  /**
   * AUTH
   */
  /**
   * CHAT
   */
  /**
   * NAVBAR USER
   */
  /**
   * NAV TABS
   */
  /**
   * PRODUCTS
   */
  /**
   * SIDENAV OVERLAY
   */
}

.skin-yellow .bg-skin {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.skin-yellow .text-skin {
  color: #f0ad4e;
}

.skin-yellow .border-skin {
  border-color: #eea236;
}

.skin-yellow .nav.nav-tabs.border-bottom-nav > li.active > a,
.skin-yellow .nav.nav-tabs.border-bottom-nav > li.active > a:focus,
.skin-yellow .nav.nav-tabs.border-bottom-nav > li.active > a:hover {
  border-bottom-color: #eea236;
}

.skin-yellow .products.products-grid .product .product__price .product__current-price {
  color: #f0ad4e;
}

.skin-yellow .product-single .product .product__price .product__current-price {
  color: #f0ad4e;
}

.skin-yellow .sidenav-overlay .sidenav-overlay-toolbar {
  opacity: 0.7;
}

.skin-red .products.products-grid .product .product__label,
.skin-red .chat .chat-item .bg-chat-skin,
.skin-red .auth-form .btn-auth,
.skin-red .btn-skin {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.skin-red .btn-skin:hover {
  color: #fff;
  background-color: #d23430;
  border-color: #be2e2a;
}

.skin-red .sidenav-overlay .sidenav-overlay-toolbar,
.skin-red .main-header li.user-header {
  background: #d9534f;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #eeb1af), color-stop(25%, #e99d9a), color-stop(50%, #e58886), color-stop(75%, #e07471), color-stop(100%, #dc5f5c));
  background: linear-gradient(to bottom, #eeb1af 0%, #e99d9a 25%, #e58886 50%, #e07471 75%, #dc5f5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="lighten($skin-red-bg, 23%)", endColorstr="lighten($skin-red-bg, 3%)", GradientType=0 );
}

.skin-red {
  /**
   * GENERAL
   */
  /**
   * AUTH
   */
  /**
   * CHAT
   */
  /**
   * NAVBAR USER
   */
  /**
   * NAV TABS
   */
  /**
   * PRODUCTS
   */
  /**
   * SIDENAV OVERLAY
   */
}

.skin-red .bg-skin {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.skin-red .text-skin {
  color: #d9534f;
}

.skin-red .border-skin {
  border-color: #d43f3a;
}

.skin-red .nav.nav-tabs.border-bottom-nav > li.active > a,
.skin-red .nav.nav-tabs.border-bottom-nav > li.active > a:focus,
.skin-red .nav.nav-tabs.border-bottom-nav > li.active > a:hover {
  border-bottom-color: #d43f3a;
}

.skin-red .products.products-grid .product .product__price .product__current-price {
  color: #d9534f;
}

.skin-red .product-single .product .product__price .product__current-price {
  color: #d9534f;
}

.skin-red .sidenav-overlay .sidenav-overlay-toolbar {
  opacity: 0.7;
}

